html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
.logo {
  height: 64px;
}
#map {
  height: 90vh;
}
#hiddenDiv{
  display: none;
}
.houses {
  height: 340px;
}
#video {
  margin-top: 7%;
}
.chip {
  z-index:1;
  position: absolute;
  top: 8px;
  right: 8px;
  ma
}
#pointer {
  cursor: pointer;
}
#welcome{
  padding-left: 100px;
}
#intro {
  margin-top: 15%;
}
#home {
  background-image: url("../resources/images/eclipse-close.jpg");
  background-size: cover;
  width: auto;
  height: 90vh;
}
#citylist{
  overflow: scroll;
  height: 30vh;
  flex: 1 1 auto;
/*  height: 70%;*/
}
#sign-up {
  font-weight: 300px;
}
#map-panel{
  margin-bottom: 0px;
  flex: 0 1 auto;
/*  height: 30%;*/
}
#map-panels {
  height: 90vh;
  display: flex;
  flex-flow: column;
}
#signup {
  margin-top: 0px;
  padding-top: 40px;
}
#signup-div {
  height: 90vh;
  margin-bottom: 0px;
}
