<!-- sign-up-form -->

<div class="row col s4 black" id="signup-div">


  <form class="col s4 offset-s1" ng-submit="vm.submitSignUp();">
    <h2 class="deep-orange-text text=accent-3" id="signup">Sign Up</h2>
    <div class="input-field">
      <input ng-model="vm.signUp.username" type="text" class="validate deep-orange-text" id="username">
      <label for="username">username</label>
    </div>

    <div class="input-field">
      <input ng-model="vm.signUp.email" type="email" ng-class="{'red-border': vm.conflict}" class="validate deep-orange-text" id="email">
      <label for="email">email address</label>
      <small ng-show="vm.conflict" class="text-danger"><em>Email exists…</em></small>
    </div>

    <div class="input-field">
      <input ng-model="vm.signUp.password" type="password" class="validate deep-orange-text" id="Password">
      <label for="Password">Password</label>
    </div>
    <div class="input-field">
      <input ng-model="vm.signUp.passwordConfirmation" type="password" class="validate deep-orange-text" id="Password2">
      <label for="Password2">Password confirmation</label>
    </div>
    <button type="submit" class="btn deep-orange accent-3">Submit</button>
  </form>

<div class="video-div col s6 right" id="video">
  <video class="responsive-video video-bg" controls autoplay loop muted>
    <source src="resources/images/trimmed.mp4" type="video/mp4">
  </video>
</div>
</div>
  <!-- sign-in-form -->
  <div class="modal" id="modal-Sing-in">
    <div class="modal-content">
      <h2>Sign In</h2>
      <form class="col s4" ng-submit="vm.submitLogIn();" name="signInForm" novalidate>
        <div class="input-field">
          <input ng-model="vm.logIn.email" type="email" ng-model="email" name="email" required class="validate" id="email">
          <label for="Email">email</label>
        </div>
        <div class="input-field">
          <input ng-model="vm.logIn.password" type="password" ng-model="password" name="password" required class="validate" id="Password">
          <label for="password">Password</label>
        </div>
        <button type="submit" ng-disabled="signInForm.$invalid" class="btn deep-orange accent-3 modal-close">Submit</button>
      </form>
    </div>
    <div class="modal-footer">
      <p>
        <strong>
          If you are not a user yet,
          <a class="underline modal-close" ui-sref="signup"><u>Sign Up</u></a>.
        </strong>
      </p>
    </div>
  </div>
