<div id="hiddenDiv">
  <div id="hiddenLat"></div>
  <div id="hiddenLng"></div>
</div>
<div class="row">
  <div id='map' class='col s9'></div>
  <div class='col s3 flow-text"'>
    <div  id="map-panel">
      <div id="map-info">
        <div id="map-position">
          Map centered on (latitude, longitude): <span id="mapCenter"></span><br />
          Cursor position (latitude, longitude): <span id="latlngCursor"></span><br />
        Distance from last marker: <span id="distValue"></span>
        </div>
        <div id="marker-position">
          <input type="checkbox" id="showmarker" checked="checked" /> Show marker on click<br />
          <input type="button" id="clearmarker" value="Clear Markers" onclick="clearMarkers();" />
        </div>
        <div id="map-options">
          <input type="button" id="locCircShow" value="Eclipse Times in Popup" onclick="locCircShow();" />
        </div>
      </div>
    </div>

    <div id="cityList">
      <p ng-click="vm.getCities()">Get Cities around this point</p>
      <div class='cities' ng-repeat="city in vm.cities" ui-sref="houses({ city: city.name })" id="{{city.name}}">{{city.name}}, {{city.state}}</div>
    </div>
  </div>
</div>


